server:
  port: 8087
spring:
  application:
    name: auth-service
eureka:
  client:
    service-url:
      defaultZone: http://47.100.48.207:10086/eureka/
    registry-fetch-interval-seconds: 5
  instance:
    instance-id: ${spring.application.name}:${server.port}
    prefer-ip-address: true
    lease-renewal-interval-in-seconds: 5
    lease-expiration-duration-in-seconds: 10
ly:
  jwt:
    pubKeyUrl: http://47.100.48.207:8888/group1/M00/00/1A/rBNL6VxBSa-AbXPbAAAAoi_dT80562.pub
    priKeyUrl: http://47.100.48.207:8888/group1/M00/00/1A/rBNL6VxBSa-ARfBFAAACe57X3K8233.pri
    expire: 60
    cookieName: LY_TOKEN
    cookieMaxAge: -1